.body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: rgba(250, 248, 248, 0.42);
  font-family: 'Mitr', sans-serif;
}

.bg_index
{
  background-color: #FFFAE6;
}

.box_form
{
    /* Add the blur effect */
    /* From https://css.glass */
    background: #ededed7c;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.085);
    border-radius: 20px;
    padding: 20px;
}

.btn_box
{
  width: 200px;
}

.box_login
{
    /* Add the blur effect */
    /* From https://css.glass */
    background: #8d8d8d30;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.085);
    border-radius: 50px;
    padding: 10px;
}

div.box_top
{
  margin-top: 5%;
}

.bt_size
{
  width: 200px;
}

.use_txt
{
  margin-top: -15px;
  padding: 10px;
  width: 100px;
}

/* Mobile Androind */
@media only screen and (min-width: 280px)
{

    /* box menu */
    .box_margin {
      margin-left: 25%;
      margin-right: 25%;
    }
}

/* Tablet Androind */
@media only screen and (min-width: 780px)
{
    /* box menu */
    .box_margin {
      margin-left: 25%;
      margin-right:25%;
    }
}

/* Personal Computer */
@media only screen and (min-width: 1280px)
{
    /* box menu */
    .box_margin {
      margin-left: 30%;
      margin-right: 30%;
    }
}